<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do App</title>
  <link rel="stylesheet" href="assets/styles.css">
  <script src="assets/jquery-3.4.1.min.js"></script>
  <script src="assets/todo-list.js"></script>
</head>
<body>
  <div id="todo-table">
    <form action="">
      <input type="text" name="itemwork" placeholder="Add new work..." required>
      <button type="submit">Add work</button>
    </form>
    <ul>
      <% for(var i = 0; i < todoList.length; i++) { %>
        <li><%= todoList[i].item %></li>
      <% } %>
    </ul>
  </div>
</body>
</html>